extends ../templates/_ui-kit-template.pug

block title
  title Заголовок

block basicSeo
  meta(name='description' content='Описание страницы')
  meta(name='keywords', content='')
  meta(name='author' content='') 

block content 
  |
  |
  .container
    |
    |
    ul.list-ui-kit 
      |
      |
      li 
        |
        |
        a(href="#").link link example
        |
        |
      |
      |
      li
        |
        |
        +btn({
          type: 'button',
          class: 'btn',
          text: '.btn example'
        })
        |
        |
      |
      |
      li
        |
        |
        +btn({
          type: 'button',
          class: 'btn',
          text: '.btn disabled',
          disabled: 'true'
        })
        |
        |
      |
      |
      li
        |
        |
        +btn({
          type: 'button',
          class: 'btn--white',
          text: '.btn--white',
          disabled: null
        })
        |
        |
      |
      |
      li
        |
        |
        +btn({
          type: 'button',
          class: 'btn--white',
          text: '.btn--white disabled',
          disabled: 'true'
        })
        |
        |
      |
      |
      li
        |
        |
        +btn-plus({
          type: 'button',
          class: 'btn--white btn--plus max-h-40',
          text: '.btn--white btn--plus max-h-40',
          disabled: null
        })
        |
        |
      |
      |
      li
        |
        |
        +btn-plus({
          type: 'button',
          class: 'btn--white btn--plus max-h-40',
          text: '.btn--white btn--plus max-h-40',
          disabled: 'true'
        })
        |
        |
      |
      |
      li
        |
        |
        +btn({
          type: 'button',
          class: 'btn--rotate',
          text: 'Получить данные',
          disabled: null
        })
        |
        |
      |
      |
      li
        |
        |
        +btn({
          type: 'button',
          class: 'btn--rotate',
          text: 'Получить данные',
          disabled: 'true'
        })
        |
        |
      |
      |
      li
        |
        |
        +btn-blue({
          type: 'button',
          class: 'btn-blue',
          text: '.btn-blue',
          disabled: null
        })
        |
        |
      |
      |
      li
        |
        |
        +btn-blue({
          type: 'button',
          class: 'btn-blue',
          text: '.btn-blue disabled',
          disabled: 'true'
        })
        |
        |
      |
      |
      li
        |
        |
        +btn-red({
          type: 'button',
          class: 'btn-red',
          text: '.btn-red',
          disabled: null
        })
        |
        |
      |
      |
      li
        |
        |
        +btn-red({
          type: 'button',
          class: 'btn-red',
          text: '.btn-red disabled',
          disabled: 'true'
        })
        |
        |
      |
      |
      li
        |
        | 
        button.btn-circle 
          .bg
          <svg width="16" height="12">
            <use xlink:href='./assets/svg/svg_sprite.svg#icon-arrow'></use> 
          </svg>
        |
        |
      |
      |
      li
        |
        |
        button(disabled="true").btn-circle 
          .bg
          <svg width="16" height="12">
            <use xlink:href='./assets/svg/svg_sprite.svg#icon-arrow'></use> 
          </svg>
        |
        |
      |
      |
      li
        |
        |
        +load-more("Загрузить еще")
        |
        |
      |
      |
      li
        |
        |
        +tabs({
          class: 'skin-red', 
          array: [{class: 'active', text: 'Вход'},
                  {class: '', text: 'Регистрация'}]
        })
        |
        |
      |
      |
      li
        |
        |
        +tabs({
          class: 'skin-red', 
          array: [{class: 'active', text: 'Вход'},
                  {class: 'disabled', text: 'Регистрация'}]
        })
        |
        |
      |
      |
      li
        |
        |
        +tabs({
          class: 'skin-blue', 
          array: [{class: 'active', text: 'Взломать аккаунт'},
                  {class: '', text: 'Доступные аккаунты'}]
        })
        |
        |
      |
      |
      li
        |
        |
        +tabs({
          class: 'skin-blue', 
          array: [{class: 'active', text: 'Взломать аккаунт'},
                  {class: 'disabled', text: 'Доступные аккаунты'}]
        })
        |
        |
      |
      |
      li
        |
        |
        .pay-sistems
          |
          |
          .pay-sistems__title Платежные системы
          |
          |
          .pay-sistems__icons 
            <svg width="43" height="28" class="icon">
              <use xlink:href='./assets/svg/svg_sprite.svg#mastercard'></use> 
            </svg>
            <svg width="77" height="25" class="icon">
              <use xlink:href='./assets/svg/svg_sprite.svg#visa'></use> 
            </svg>
            <svg width="31" height="30" class="icon">
              <use xlink:href='./assets/svg/svg_sprite.svg#sberbank'></use> 
            </svg>
            <svg width="30" height="33" class="icon">
              <use xlink:href='./assets/svg/svg_sprite.svg#yandex'></use> 
            </svg>
            <svg width="73" height="30" class="icon">
              <use xlink:href='./assets/svg/svg_sprite.svg#qiwi'></use> 
            </svg>
          |
          |
        |
        |
      |
      |
      li
        |
        |
        .uni-input.uni-input--dark
          |
          |
          input(type="text", name="", placeholder=" ").uni-input__input
          |
          |
          .uni-input__placeholder Placeholder
          |
          |
          .uni-input__wrap-icons   
            |
            |
            button.icon-clear
              <svg width="24" height="24"  >
                <use xlink:href='./assets/svg/svg_sprite.svg#icon-clear--dark'></use> 
              </svg> 
            |
            |
            button.icon-wrong
              <svg width="24" height="24">
                <use xlink:href='./assets/svg/svg_sprite.svg#icon-wrong--dark'></use> 
              </svg>
            |
            |
            //-button.icon-hide-pass
              <svg width="24" height="24">
                <use xlink:href='./assets/svg/svg_sprite.svg#icon-hide-pass--dark'></use> 
              </svg>
            |
            |
            //-button.icon-show-pass
              <svg width="24" height="24">
                <use xlink:href='./assets/svg/svg_sprite.svg#icon-show-pass--dark'></use> 
              </svg> 
            |
            |
          |
          |
        |
        |
      |
      |
      li
        |
        |
        .uni-input.uni-input--dark
          |
          |
          input(type="text", name="", placeholder=" ").uni-input__input.invalid
          |
          |
          .uni-input__placeholder Invalid
          |
          |
          .uni-input__wrap-icons   
            |
            |
            button.icon-clear
              <svg width="24" height="24"  >
                <use xlink:href='./assets/svg/svg_sprite.svg#icon-clear--dark'></use> 
              </svg> 
            |
            |
            button.icon-wrong
              <svg width="24" height="24">
                <use xlink:href='./assets/svg/svg_sprite.svg#icon-wrong--dark'></use> 
              </svg>
            |
            |
            //-button.icon-hide-pass
              <svg width="24" height="24">
                <use xlink:href='./assets/svg/svg_sprite.svg#icon-hide-pass--dark'></use> 
              </svg>
            |
            |
            //-button.icon-show-pass
              <svg width="24" height="24">
                <use xlink:href='./assets/svg/svg_sprite.svg#icon-show-pass--dark'></use> 
              </svg> 
            |
            |
          |
          |
        |
        |
      |
      |
      li
        |
        |
        .uni-input.uni-input--dark
          |
          |
          input(type="password", name="", placeholder=" ").uni-input__input
          |
          |
          .uni-input__placeholder Password
          |
          |
          .uni-input__wrap-icons   
            |
            |
            button.icon-clear
              <svg width="24" height="24"  >
                <use xlink:href='./assets/svg/svg_sprite.svg#icon-clear--dark'></use> 
              </svg> 
            |
            |
            button.icon-wrong
              <svg width="24" height="24">
                <use xlink:href='./assets/svg/svg_sprite.svg#icon-wrong--dark'></use> 
              </svg>
            |
            |
            button.icon-hide-pass
              <svg width="24" height="24">
                <use xlink:href='./assets/svg/svg_sprite.svg#icon-hide-pass--dark'></use> 
              </svg>
            |
            |
            button.icon-show-pass.dn
              <svg width="24" height="24">
                <use xlink:href='./assets/svg/svg_sprite.svg#icon-show-pass--dark'></use> 
              </svg> 
            |
            |
          |
          |
        |
        |
      |
      |
      li
        |
        |
        .uni-input.uni-input--dark
          |
          |
          input(type="text", name="", placeholder=" ", disabled).uni-input__input
          |
          |
          .uni-input__placeholder Disabled
          |
          |
          .uni-input__wrap-icons   
            |
            |
            button.icon-clear
              <svg width="24" height="24"  >
                <use xlink:href='./assets/svg/svg_sprite.svg#icon-clear--dark'></use> 
              </svg> 
            |
            |
            button.icon-wrong
              <svg width="24" height="24">
                <use xlink:href='./assets/svg/svg_sprite.svg#icon-wrong--dark'></use> 
              </svg> 
            |
            |
          |
          |
        |
        |
      |
      |
      li.bg-white
        |
        |
        .uni-input.uni-input--white
          |
          |
          input(type="text", name="", placeholder=" ").uni-input__input
          |
          |
          .uni-input__placeholder Placeholder 
          |
          |
          .uni-input__wrap-icons   
            |
            |
            button.icon-clear
              <svg width="24" height="24">
                <use xlink:href='./assets/svg/svg_sprite.svg#icon-clear--white'></use> 
              </svg> 
            |
            |
            button.icon-wrong
              <svg width="24" height="24">
                <use xlink:href='./assets/svg/svg_sprite.svg#icon-wrong--white'></use> 
              </svg>
            |
            |
            //-button.icon-hide-pass
              <svg width="24" height="24">
                <use xlink:href='./assets/svg/svg_sprite.svg#icon-hide-pass--white'></use> 
              </svg>
            |
            |
            //-button.icon-show-pass
              <svg width="24" height="24">
                <use xlink:href='./assets/svg/svg_sprite.svg#icon-show-pass--white'></use> 
              </svg> 
            |
            |
          |
          |
        |
        |
      |
      |
      li.bg-white
        |
        |
        .uni-input.uni-input--white
          |
          |
          input(type="text", name="", placeholder=" ").uni-input__input.invalid
          |
          |
          .uni-input__placeholder Invalid 
          |
          |
          .uni-input__wrap-icons   
            |
            |
            button.icon-clear
              <svg width="24" height="24">
                <use xlink:href='./assets/svg/svg_sprite.svg#icon-clear--white'></use> 
              </svg> 
            |
            |
            button.icon-wrong
              <svg width="24" height="24">
                <use xlink:href='./assets/svg/svg_sprite.svg#icon-wrong--white'></use> 
              </svg>
            |
            |
            //-button.icon-hide-pass
              <svg width="24" height="24">
                <use xlink:href='./assets/svg/svg_sprite.svg#icon-hide-pass--white'></use> 
              </svg>
            |
            |
            //-button.icon-show-pass
              <svg width="24" height="24">
                <use xlink:href='./assets/svg/svg_sprite.svg#icon-show-pass--white'></use> 
              </svg> 
            |
            |
          |
          |
        |
        |
      |
      |
      li.bg-white
        |
        |
        .uni-input.uni-input--white
          |
          |
          input(type="password", name="", placeholder=" ").uni-input__input
          |
          |
          .uni-input__placeholder Password 
          |
          |
          .uni-input__wrap-icons   
            |
            |
            button.icon-clear
              <svg width="24" height="24">
                <use xlink:href='./assets/svg/svg_sprite.svg#icon-clear--white'></use> 
              </svg> 
            |
            |
            button.icon-wrong
              <svg width="24" height="24">
                <use xlink:href='./assets/svg/svg_sprite.svg#icon-wrong--white'></use> 
              </svg>
            |
            |
            button.icon-hide-pass
              <svg width="24" height="24">
                <use xlink:href='./assets/svg/svg_sprite.svg#icon-hide-pass--white'></use> 
              </svg>
            |
            |
            button.icon-show-pass.dn
              <svg width="24" height="24">
                <use xlink:href='./assets/svg/svg_sprite.svg#icon-show-pass--white'></use> 
              </svg> 
            |
            |
          |
          |
        |
        |
      |
      |
      li.bg-white
        |
        |
        .uni-input.uni-input--white
          |
          |
          input(type="text", name="", placeholder=" ", disabled).uni-input__input
          |
          |
          .uni-input__placeholder Disabled 
          |
          |
          .uni-input__wrap-icons   
            |
            |
            button.icon-clear
              <svg width="24" height="24">
                <use xlink:href='./assets/svg/svg_sprite.svg#icon-clear--white'></use> 
              </svg> 
            |
            |
            button.icon-wrong
              <svg width="24" height="24">
                <use xlink:href='./assets/svg/svg_sprite.svg#icon-wrong--white'></use> 
              </svg>
            |
            | 
          |
          |
        |
        |
      |
      |
      li
        |
        |
        .clip-input 
          input(type="text", name="", placeholder="Placeholder")
        |
        |
      |
      |
      li
        |
        |
        +wallet-info({amount: 352})
        |
        |
      |
      |
      li
        |
        |
        +wallet-info({amount: 352, class: 'active'})
        |
        |
      |
      |
      li
        |
        |
        +btn-menu() 
        |
        |
      |
      |
      li
        |
        |
        button(
          type="button"
          class="btn-red" 
          data-popup=".popup-login"
        ) 
          span Личный кабинет 
        |
        |
      |
      |
      li
        |
        |
        button(
          type="button"
          class="btn-red" 
          data-popup=".popup-forget-password"
        ) 
          span Забыли пароль?
        |
        |
      |
      |
      li
        |
        |
        button(
          type="button"
          class="btn-red" 
          data-popup=".popup-sent-password"
        ) 
          span Отправлен новый пароль
        |
        |
      |
      |
      li
        |
        |
        button(
          type="button"
          class="btn-red" 
          data-popup=".popup-quality"
        ) 
          span Попап оценки качества работ
        |
        |
      |
      |
      li
        |
        |
        button(
          type="button"
          class="btn-red" 
          data-popup=".popup-thank-for-rate"
        ) 
          span Попап Спасибо за оценку!)
        |
        |
      |
      |
      li
        |
        |
        button(
          type="button"
          class="btn-red" 
          data-popup=".popup-what-happen"
        ) 
          span Что пошло не так?
        |
        |
      |
      |
      li
        |
        |
        button(
          type="button"
          class="btn-form"   
        ) 
          span Изменить
        |
        |
      |
      |
      li
        |
        |
        button(
          type="button"
          class="btn-transparent"   
        ) 
          span Отмена
        |
        | 
      |
      |
      li
        |
        |
        .load-line.load-25
        |
        |
      |
      |
      li
        |
        |
        .load-line.load-50
        |
        |
      |
      |
      li
        |
        |
        .load-line.load-75
        |
        |
      |
      |
      li
        |
        |
        .load-line.load-100
        |
        |
      |
      |
      li
        |
        |
        | window.makeLoadLine(100, 4);
        |
        |
      |
      |
      li
        |
        |
        .line-attention 
          |
          |
          a(href="#").active
            <svg width="24" height="24">
              <use xlink:href='./assets/svg/svg_sprite.svg#attention-icon'></use> 
            </svg> 
          |
          |
          a(href="#") 
            <svg width="26" height="24">
              <use xlink:href='./assets/svg/svg_sprite.svg#quest-icon'></use> 
            </svg>  
          |
          |
        |
        |
      |
      |
      li
        |
        |
        .h3.color-white Блок с платежом
        |
        |
        .payment-block 
          |
          |
          .payment-block__row 
            |
            |
            .my-select--dark
              +select({
                title: 'Список тёмный'
              })
            |
            |
          |
          |
          .payment-block__row.last
            |
            |
            .uni-input.uni-input--dark
              |
              |
              input(type="number", name="", placeholder=" ").uni-input__input 
              |
              |
              .uni-input__placeholder Сумма
              |
              |
              .uni-input__wrap-icons   
                |
                |
                .ruble ₽
                |
                |
              |
              |
            |
            |
            +btn({
              type: 'button',
              class: 'btn--white',
              text: 'Перейти к оплате',
              disabled: null
            })
            |
            |
          |
          |
        |
        |
      |
      |
      li 
        |
        |
        ul.list-ok 
          |
          |
          li 
            .h5 Соединение
            <svg width="18" height="13">
              <use xlink:href='./assets/svg/svg_sprite.svg#icon-ok'></use> 
            </svg>
          |
          |
          li 
            .h5 Профиль
            <svg width="18" height="13">
              <use xlink:href='./assets/svg/svg_sprite.svg#icon-ok'></use> 
            </svg>
          |
          |
          li 
            .h5 Верификация
            <svg width="18" height="13">
              <use xlink:href='./assets/svg/svg_sprite.svg#icon-ok'></use> 
            </svg>
          |
          |
          li 
            .h5 Зашифрованные данные
            <svg width="18" height="13">
              <use xlink:href='./assets/svg/svg_sprite.svg#icon-ok'></use> 
            </svg>
          |
          |
        |
        |
      |
      |
      li
        |
        |
        .my-select--white
          +select({
            title: 'Список белый'
          })
        |
        |
      |
      |
      li 
        |
        |
        ul.list-ok 
          |
          |
          li 
            .h5 Соединение
            <svg width="18" height="13">
              <use xlink:href='./assets/svg/svg_sprite.svg#icon-ok'></use> 
            </svg>
          |
          |
          li 
            .h5 Профиль
            <svg width="18" height="13">
              <use xlink:href='./assets/svg/svg_sprite.svg#icon-ok'></use> 
            </svg>
          |
          |
          li 
            .h5 Верификация
            <svg width="18" height="13">
              <use xlink:href='./assets/svg/svg_sprite.svg#icon-ok'></use> 
            </svg>
          |
          |
          li 
            .h5 Зашифрованные данные
            <svg width="18" height="13">
              <use xlink:href='./assets/svg/svg_sprite.svg#icon-ok'></use> 
            </svg>
          |
          |
        |
        |
      |
      |
      li
        |
        |
        .my-select--dark 
          +select({
            title: 'Список тёмный'
          })
        |
        |
      |
      |
      li
        |
        |
        button.btn--look 
          span Смотреть
        |
        |
      |
      |
      li
        |
        |
        .user-info
          |
          | 
          .user-info__wrap-ava 
            |
            |
            .wrap-avatar 
              img(src="assets/images/big-ava.jpg", alt="", loading="lazy")
            |
            |
            .h4.user-info__title Kevin Systrom
            |
            |
          .user-info__wrap-list
            |
            |
            ul.user-info__list
              li 
                .item Логин
                .lines 
                .status Не оплачено
              li 
                .item Пароль
                .lines 
                .status Не оплачено
            |
            |
            .small-text Логин и пароль вы получите сразу после оплаты
            |
            |
          .user-info__wrap-payment
            |
            |
            .payment-block 
              |
              |
              .payment-block__row 
                |
                |
                .my-select--dark
                  +select({
                    title: 'Способы оплаты'
                  })
                |
                |
              |
              |
              .payment-block__row.last
                |
                |
                .uni-input.uni-input--dark
                  |
                  |
                  input(type="number", name="", placeholder=" ").uni-input__input 
                  |
                  |
                  .uni-input__placeholder Сумма
                  |
                  |
                  .uni-input__wrap-icons   
                    |
                    |
                    .ruble ₽
                    |
                    |
                  |
                  |
                |
                |
                +btn({
                  type: 'button',
                  class: 'btn--white',
                  text: 'Перейти к оплате',
                  disabled: null
                })
                |
                |
              |
              |
            |
            | 
          |
          |
        |
        |
      |
      |
      li
        |
        |
        .rating
          input(type="radio", name="quality", value="5", id="star5")
          label(for="star5")
            img(src="assets/svg/star-empty.svg", alt="", loading="lazy").empty
            img(src="assets/svg/star-full.svg", alt="", loading="lazy").full
          input(type="radio", name="quality", value="4", id="star4")
          label(for="star4")
            img(src="assets/svg/star-empty.svg", alt="", loading="lazy").empty
            img(src="assets/svg/star-full.svg", alt="", loading="lazy").full
          input(type="radio", name="quality", value="3", id="star3")
          label(for="star3")
            img(src="assets/svg/star-empty.svg", alt="", loading="lazy").empty
            img(src="assets/svg/star-full.svg", alt="", loading="lazy").full
          input(type="radio", name="quality", value="2", id="star2")
          label(for="star2")
            img(src="assets/svg/star-empty.svg", alt="", loading="lazy").empty
            img(src="assets/svg/star-full.svg", alt="", loading="lazy").full
          input(type="radio", name="quality", value="1", id="star1")  
          label(for="star1")
            img(src="assets/svg/star-empty.svg", alt="", loading="lazy").empty
            img(src="assets/svg/star-full.svg", alt="", loading="lazy").full
        |
        |
      |
      |
      li
        |
        |
        label.checkable
          input(type="checkbox", name="checkable1")
          .bg
          .checkable__text Какой-то текст
          .checkable__icon 
            <svg width="24" height="24">
              <use xlink:href='./assets/svg/svg_sprite.svg#galka'></use> 
            </svg>
        |
        |
      |
      |
      li
        |
        |
         
        |
        |
      |
      |
      li
        |
        |
         
        |
        |
      |
      |
    |
    |   
  |
  | 